<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>

        <form th:action="@{/login}" method="post">
            <label>Email:</label>
            <input type="text" name="username" required />

            <label>Contraseña:</label>
            <input type="password" name="password" required />

            <button type="submit">Entrar</button>

            <div class="error" th:if="${loginError}">
                <p>Email o contraseña incorrectos.</p>
            </div>
        </form>
    </div>
</body>
</html>